*::after,::before {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #E5E0FF, #AEE2FF);
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.calculator-grid {
  display: grid;
  justify-self: center;
  max-width: 250px;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: minmax(120px, auto) repeat(5, 60px);
  margin: 2rem auto;
}
.calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(254, 222, 255,.5)
}
.calculator-grid button:hover {
  background-color: rgba(254, 222, 255, 0.9);
}
.calculator-grid button:active {
  background-color: rgba(254, 222, 255, 0.9);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1 / -1;
  background-color: #93C6E7;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  font-size: 1.5rem;
}
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}